<html class="artwork-background">
  <%= render "partials/header" %>
  <% @similar_artworks.each do |artwork| %>
    <% presenter(artwork) do |artwork|%>
      <div class="artwork-box">
        <%= link_to image_tag(artwork.image), artwork_path(artwork.id), class: 'image-link' %><br>
      </div>
      <div class="artwork-information">
        Title: <%= artwork.title %><br>
        Category: <%= artwork.category %><br>
        Medium: <%= artwork.medium %><br>
        Date: <%= artwork.date %><br>
        Series: <%= artwork.series %><br>
        Literature: <%= artwork.literature %><br>
        Collecting Institution:<%= artwork.collecting_institution %><br>
        Artist: <%= link_to "Go to Artists Page", artist_path(artwork.id) %><br>
        Similar Artworks: <%= link_to "Check Out Similar Art!", artworks_path(artwork.id) %><br>
        Gene: <%= link_to "Learn More About The Genes/Categories!", genes_path(artwork.id) %><br>
      </div>
    <% end %>
  <% end %>
  <%= render "partials/footer" %>
<html>
