<%= image_tag(@artwork.image) %>
<div>
  Title: <%= @artwork.title %><br>
  Category: <%= @artwork.category %><br>
  Medium: <%= @artwork.medium %><br>
  Date: <%= @artwork.date %><br>
  Series: <%= @artwork.series %><br>
  Literature: <%= @artwork.literature %><br>
  Collecting Institution:<%= @artwork.collecting_institution %><br>
  Artist: <%= @artwork.artist %><br>
  Similar Artworks: <%= @artwork.similar_artworks %><br>
  Gene: <%= @artwork.gene %><br>
</div>
