<html class='login-background'>
  <body class="login-body">
    <%= image_tag image_url('websitelogo.png'), class: 'login-logo' %>
    <%= form_for @user, html: {multipart: true} do |f| %>
      <div class="login-form">
        <%= hidden_field_tag :username %>
        <%= f.text_field :username, placeholder: "Username", class: 'field' %>

        <%= hidden_field_tag :password %>
        <%= f.password_field :password, {placeholder: "Password", class: 'field'} %>

        <%= hidden_field_tag :password_confirmation %>
        <%= f.password_field :password_confirmation, {placeholder: "Password Confirmation", class: 'field'} %><br>

        <div class="profile-pic-box">
          <p>Choose a Profile Picture</p>
          <%= f.file_field :profile_pic, {placeholder: "Profile Picture", class: "profile-pic-link"} %>
        </div>

      <%= f.submit "Sign Up!", class: 'field' %>
    </div>
    <% end %>
      <%= link_to "Login!", login_path, class: 'side-button' %><br>
  </body>
</html>
