<div class="landscape-picture">
  <%= image_tag image_url('forest.jpg'), class: 'profile-landscape' %>
</div>
<%= image_tag @user.profile_pic.url, class: 'user-profile-pic' %>
<div class="simple-box">
  Favorites
</div>

<div class="profile-container">
  <div class="profile-column">
    <div class="name-box">
      <%= @user.username.capitalize %><br>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    </div>

    <div class="quote-box">
      <h1>Quote of the Day</h1><br>
      <%= @quote.text %><br><br>
      -<%= @quote.author %><br>
    </div>

    <div class="quiz-box">
      Quiz of the Day
    </div>
  </div>

  <div class="profile-column">
    <div class="favorites-box">
      <%= image_tag image_url('favorite.png'), class: 'profile-favorite' %>
    </div>

    <div class="gallery-box">
      <%= link_to image_tag(image_url('gallery.png'), class: 'profile-gallery'), gallery_path %>
    </div>

    <div class="calendar-box">
      <%= image_tag image_url('calendar.png'), class: 'calendar' %>
    </div>

  </div>

</div>
