<html class="gallery-background">
  <body style="margin-bottom: 200px;">
    <%= render "partials/header" %>
      <div class="gallery-header">
        Quiz of the Day
      </div>
      <div class="artwork-box">
        <div id="artist-name" style="display: none;"><%= @artwork.quiz_artist.name %></div>
        <%= image_tag image_url(@artwork.image) %>
      </div>
      <div class="quiz-choice-container">
        <button class="answer quiz-correct"><%= @artist.name %></button>
        <button class="answer quiz-incorrect"><%= @random_artist.name %></button>
      </div>
      <span class="quiz-message"></span>
    </body>
  <%= render "partials/footer" %>
<html>
