<html class="gallery-background">
  <body style="margin-bottom: 200px;">
    <%= render "partials/header" %>
      <div class="gallery-header">
        Quiz of the Day
      </div>
      <div class="artwork-box">
        <%= image_tag image_url(@artwork.image) %>
      </div>
      <div class="quiz-choice-container">
        <div class="answer quiz-correct"><%= @artist.name %></div>
        <div class="answer quiz-incorrect"><%= @random_artist.name %></div>
      </div>
    </body>
  <%= render "partials/footer" %>
<html>
