<h1>Gallery</h1>
Search
<% @search_artworks.each do |artwork| %>
  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
    ID: <%= artwork.id %><br>
    Title: <%= artwork.title %><br>
    Category: <%= artwork.category %><br>
    Medium: <%= artwork.medium %><br>
    Date: <%= artwork.date %><br>
    Series: <%= artwork.series %><br>
    Literature: <%= artwork.literature %><br>
    Collecting Institution:<%= artwork.collecting_institution %><br>
    Artist: <%= artwork.artist %><br>
    Similar Artworks <%= artwork.similar_artworks %><br>
    Gene: <%= artwork.gene %><br>
    Image <%= artwork.image %><br>
  </div>
<% end %>
