<html class="artwork-background">
  <body style="margin-bottom: 220px;">
    <%= render "partials/header" %>
      <% @genes.each do |gene| %>
        <% present(gene) do |gene| %>
          <div class="gene-information">
            <strong>Name:</strong> <%= gene.name %>
            <strong>Description:</strong> <%= gene.description %>
            <strong>Artworks:</strong> <%= gene.artworks %>
            <strong>Artists:</strong> <%= gene.artists %>
          </div>
        <% end %>
      <% end %>
    <%= render "partials/footer" %>
  </body>
</html>
