<html class="artwork-background">
<%= render "partials/header" %>
  <div class="artwork-information">
    <% @genes.each do |gene| %>
      Display Name: <%= gene.name %>
      Description: <%= gene.description %>
      Artworks: <%= gene.artworks %>
      Artists: <%= gene.artists %>
    <% end %>
  </div>

  <%= render "partials/footer" %>
</html>
