<!DOCTYPE html>
<html>
  <head>
    <title>WhatIsArt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Playfair+Display" rel="stylesheet">
  </head>

  <body>
    <% flash.each do |message_type, message| %>
        <% if message_type == "success" %>
          <div class="success"><%= sanitize(message) %></div>
        <% else %>
          <div class="danger"><%= message %></div>
        <% end %>
      <% end %>
    <%= yield %>
  </body>
</html>
